button.rightli{
	color: white;
	background-color: #0B8EBA;
	border: none;
	border-radius: 2px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li span, button{
	display: block;
	text-align: center;
	padding: 14px 16px;
}

.rightli{
	float: right;
}

.leftli{
	float: left;
}

#header{
	font-family: Verdana, sans-serif;
	height: 30px;
	font-size: 12px;
	margin-top: 20px;
}

#header ul li a{
	font-family: Verdana, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #202121;
}

#content {
	font-family: Verdana, sans-serif;
	position: fixed;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

#footer {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	position: fixed;
	width: 99%;
	top: 100%;
	transform: translate(0%, -100%);
	background-color: #D0D7D9;
	color: #3F4142;
}

#footer ul li a{
	font-family: Verdana, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #3F4142;
}

#searchbar {
	width: 400px;
	margin-top: 20px;
}

#searchsubmit #luckysubmit{
	margin-top: 10px;
}
